.map-component {
  width: 95%;
  height: 80vh;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.map-loader {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.map-search-box {
  position: absolute;
  width: 300px;
}